.container {
  width: 90%;
  margin: auto;
}

.post {
  background-color: #79bbe7;
  padding: 15px;
 margin-top: 15px;
  width: 60%;
  margin-left: 200px;
  border-radius: 15px;

  
}


button {
  background-color: rgb(94, 192, 14);
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 5px;
}
h3{
  margin-left: 60px;
}
.link{
  border: 2px solid black;
  width: 70px;
  background-color: aqua;
  text-decoration: none;
  color: white;
  padding: 6px;
}